*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
}